@charset "utf-8";
/*============================================
背景
============================================*/
/* スクロールしない */
.fixed-background {
  background-attachment: scroll;
}

/*============================================
見出し
============================================*/

/* TurBoロゴ */
img#TurBoLogo{
  width: 30%;
  }
div#logo{
  padding: 10vh 0 0vh 0;
}

 /*============================================
全般
============================================*/
p {
  margin: 4vh 10vw;
}
/*フッター*/
div#footer {
  text-align: center;
  padding: 20vh 0 4vh 0;
}

/* サイドバーcss */
.sidebar {
  width: 50vw;
  left: -50%;
}