@charset "utf-8";
/*============================================
背景
============================================*/
/* スクロールしない */
.fixed-background {
  background-attachment: scroll;
}

/*============================================
見出し
============================================*/

/* TurBoロゴ */
img#TurBoLogo{
  width: 360%;
  }
div#logo{
  padding: 40vh 0 50vh 0;
}

p {
  margin: 4vh 10vw;
}

 /*============================================
全般
============================================*/
/*フッター*/
div#footer {
  text-align: center;
  padding: 20vh 0 4vh 0;
}

