@charset "utf-8";
/*============================================
背景
============================================*/
/* スクロールしない */
.fixed-background {
  /* 背景画像指定 */
  background-image: url(../img/sample-image.png);
  min-height: 50vh;
  min-width: 50vw;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
}
.TurBo {
    /* 背景画像指定 */
    background-image: url(../img/sample-image.png);
  }
.harukasumi {
    /* 背景画像指定 */
    background-image: url(../img/Harukasumi.jpg);
    margin: 0 10vw 0 10vw ;
  }

 .TurBoxAC {
    /* 背景画像指定 */
    background-image: url(../img/TurboLogoBackground.gif);
    margin: 0 10vw 0 10vw ;
    color: white;
  }

/* スクロール背景画像 */
  .background {
    background-color: rgb(255, 255, 255);
    color:#100167;
  }




/*============================================
見出し
============================================*/

/* TurBoロゴ */
img#TurBoLogo{
  width: 60%;
  }
  div#logo{
      /* logoのセンタリング */
      text-align : center;
      font-size: 4vw;
      color: white;
      padding: 40vh 0 50vh 0;
  }

h1 {
    text-align: center;
    border-bottom: solid 1px ;
    padding: 8vh 2vw 8vh 2vw;
    margin: 0 20vw;
}

h2 {
  color: #ffe07b;
  margin: 15vh 20vw 10vh 20vw;
  text-align: center;
}
h3 {
margin: 10vh 20vw 5vh 20vw;
text-align: center;
}
p {
  font-size: 18px;
  margin: 4vh 10vw;
  text-align: center;
}

 a {
  text-decoration: none; 
  color:#100167;
}
 /*============================================
全般
============================================*/
*{
  margin: 0; padding: 0; 	/*全要素のマージン・パディングをリセット*/   
}
body {
/* background-color: rgb(45, 32, 106);	ページ全体の背景色 */
font-size: 100%;			/* フォントサイズ */
font-family: 'Noto Sans JP', sans-serif; 	/* フォントの種類:google font */
line-height:1.5; 			/* 行の高さを1.5倍にする */
color:#100167;    
}
/*フッター*/
div#footer {
  text-align: center;
  padding: 20vh 0 4vh 0;
}

/*============================================
メニュー
============================================*/
/* ハンバーガーメニューCSS */
#humIcon {
  width: 100px;
  height: 100px;

  position: relative;
  box-sizing: border-box;

  position: fixed;
}
span {
  display: block;
  width: 60px;
  height: 5px;
  left: 10px;
  background: rgb(229, 229, 229);
  position: absolute;
  transition: all 0.5s ease;
}
.bar1 {
  top: 12.5px;
}
.bar2 {
  top: 35px;
}  
.bar3 {
 top: 57.5px;
}
/* jsによる.open属性の付与のスタイル */
/*上の線225℃回転*/
.bar1.open {
top: 35px;
transform: rotate(-225deg);
}
/*真ん中の線は透明化,回転*/
.bar2.open { 
  opacity: 0;
  transform: rotate(-225deg);
}
/*下の線-315℃回転*/
.bar3.open {
top: 35px;
transform: rotate(-315deg);
}

/* サイドバーcss */
.sidebar {
  width: 50vw;
  height: 100%;
  position: fixed;
  top: 0;
  left: -50%;
  -webkit-transition: .7s;
  transition: .5;
  background-color: rgb(39, 38, 75);
  /* opacity: 0.5; 透過 */
  padding: 120px 0;
  display:-webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}


.sidebar.open {
  left: 0;
}

.sidebar-menu {
  padding: 0;
  margin: 0;
}
.sidebar-item {
  list-style: none;
  margin-bottom: 30px;
}
.sidebar-item div {
  padding: 0;
  margin: 0;
  font-size: 20px;
} 


.sidebar-item a {
min-width: 100px;
font-family: inherit;
appearance: none;
border: 0;
border-radius: 5px;
/* background: #4676d7; */
color: #fff;
padding: 8px 48px;
font-size: 125%;
cursor: pointer;
text-decoration: none;
}

.sidebar-item a:hover {
color: #ffcd29;
}

.sidebar-item a:focus {
outline: none;
box-shadow: 0 0 0 4px #cbd6ee;
}